#exampleModal .close,
.loginmodal-container #close {
    position: absolute;
    opacity: 1;
    color: #fff;
    cursor: pointer
}

#exampleModal .close,
.loginmodal-container .close {
    float: right;
    line-height: 1;
    text-shadow: 0 1px 0 #fff
}

.enquiry-modal button,
.enquiry-modalenq a {
    outline: 0;
    font-family: 'Open Sans', sans-serif
}

.float {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 60px;
    left: 10px;
    background-color: transparent;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100
}

.my-float {
    margin-top: 8px
}

#exampleModal .close {
    font-size: 35px;
    left: 50%;
    top: 32px;
    transform: translateX(-50%);
    transition: .3s
}

#exampleModal .close:hover,
.modal-content .close:hover {
    color: #000
}

.modal-open .modal {
    z-index: 99999
}

.modal-backdrop.show {
    opacity: .8;
    z-index: 9999
}

.quick-view-tab-content .tab-pane {
    border: 1px solid #ddd
}

#popup_contact,
.enquiry-modal .modal-footer,
.mobiwhatsapp,
.modal-body .cart-plus-minus span {
    display: none
}

.modal-body {
    display: block;
    justify-content: inherit;
    padding: 15px
}

.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #f7f7f7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    overflow: hidden;
    font-family: roboto;
    position: relative;
    pointer-events: visible
}

.cd-top,
.enquiry-imgpopup {
    position: fixed;
    right: 10px
}

.loginmodal-container #close {
    right: 0;
    top: 0;
    padding: 1px 6px;
    background: #000
}

.loginmodal-container button .close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}

.loginmodal-container .close {
    font-size: 21px;
    font-weight: 700;
    color: #000;
    opacity: .2
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #f10712;
    color: #fff;
    padding: 10px
}

.loginmodal-container input[type=text],
input[type=password] {
    height: 35px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid silver;
    border-radius: 2px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #9c9c9c;
    font-family: Montserrat, sans-serif
}

.loginmodal-container .txtar {
    padding: 8px;
    width: 100%;
    min-height: 50px;
    color: #9c9c9c;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif
}

.submit.btn-style {
    background-color: #f10712;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    color: #fff;
    font-weight: 600;
    width: auto
}

.submit.btn-style:hover {
    background-color: #242424
}

@media (max-width:600px) {
    .navbar23 {
        overflow: hidden;
        background-color: #212138;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 99;
        padding: 10px 0;
        display: inline-block !important
    }
}

@media (min-width:600px) {
    #mobile {
        display: none
    }
}

.enquiry-modal .modal-content {
    border-radius: 0
}

header marquee i {
    margin: 0 3px 0 8px
}

#transcroller-body {
    overflow-x: hidden
}

#memberModal {
    z-index: 999999
}

.enquiry-modal .modal-header {
    display: block;
 padding: 4px 12px;
}

.enquiry-modal .modal-body {
    height: auto;
    overflow-y: initial
}

.enquiry-modal .modal-body form {
    margin: 15px 0
}

.enquiry-modal .modal-body form .form-control {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    border-radius: 0;
  margin-bottom: 4px;
    background-color: #ec3237;
    border: 1px solid transparent;
    border-bottom: 0px solid #fff
}

.enquiry-modal .modal-body form .form-control:focus {
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, .6);
    border-color: rgba(255, 255, 255, .88);
    background-color: #000 !important
}

.enquiry-modal .modal-body form input::-webkit-input-placeholder {
    color: #fff !important
}

.enquiry-modal .modal-body form input:-moz-placeholder {
    color: #fff !important
}

.enquiry-modal .modal-body form input::-moz-placeholder {
    color: #fff !important
}

.enquiry-modal .modal-body form input:-ms-input-placeholder {
    color: #fff !important
}

.enquiry-modal h4 {
    font-size: 30px;
    margin-bottom: 0;
    color: #ec3237
}

.enquiry-modal h4 span {
    font-weight: 300;
    color: #262626
}

.enquiry-modal h6 b {
    color: #ec3237;
    font-size: 16px
}

.enquiry-modal button {
    opacity: .8;
    border: 1px solid #ec3237 !important;
    background-color: #ec3237 !important;
    color: #fff;
    padding: 5px 10px
}

.enquiry-modal button i {
    color: #ec3237;
    font-size: 18px
}

.enquiry-modal button:focus {
    box-shadow: 0 0;
    outline: 0
}

.enquiry-modalenq .enqsbn-btn {
    background-color: #ed1c24 !important;
    opacity: .9;
    transition: .4s
}

.enquiry-modalenq a {
    opacity: .8;
    border: 1px solid #ed1c24;
    background-color: #ed1c24 !important;
    color: #fff !important;
    text-align: center
}

.enquiry-modal .sbn-btn {
    background-color: #ffae00;
    opacity: .9;
    transition: .4s
}

.enquiry-modal .sbn-btn:hover {
    opacity: 1
}

.enquiry-modal .sbn-btn i {
    color: #000;
    font-weight: 700;
    font-size: 18px;
    margin-right: 4px
}

.enquiry-imgpopup {
    transition: .4s;
    bottom: 30px;
    z-index: 40;
    width: 100px
}

#whatsapp-fixed {
    left: 10px;
    width: 60px
}

.enquiry-imgpopup:hover {
    transform: scale(.9)
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    bottom: 40px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../images/cd-top-arrow.svg) center 50% no-repeat #ffa727;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s, visibility 0s .3s, background-color .3s;
    transition: opacity .3s, visibility 0s .3s, background-color .3s
}

.cd-top.cd-top--fade-out,
.cd-top.cd-top--show,
.cd-top:hover {
    -webkit-transition: opacity .3s, visibility, background-color .3s;
    transition: opacity .3s, visibility, background-color .3s
}

.cd-top.cd-top--show {
    visibility: visible;
    opacity: 1
}

.cd-top.cd-top--fade-out {
    opacity: .5
}

.cd-top:hover {
    background-color: #022042;
    opacity: 1
}

.modal-dialog {
    max-width: 700px !important;
    margin: 1.75rem auto
}

.elementor-element-4f75bb0,
.elementor-element-be440cf {
    width: 50% !important
}

@media (max-width:991px) {
    .elementor-element-4f75bb0,
    .header-nav .nav-container:not(.no-contact-btn) {
        width: 100% !important
    }
    .elementor-element-be440cf {
        display: contents !important
    }
}

.elementor-411 .elementor-element.elementor-element-c810303 {
    padding: 50px 0 20px !important
}

.elementor-411 .elementor-element.elementor-element-1493f7d {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 60px 0 !important
}

.enquiry-modal .modal-body form input {
    width: 100% !important
}

.layout-full-width #Wrapper {
    padding: 0 !important
}

@media (max-width:767px) {
    .footer-top.pb-50 {
        padding-bottom: 80px !important
    }
    .mobiwhatsapp {
        display: block !important
    }
    .deskwhatsapp {
        display: none
    }
}